*
!.git*
!AmmoCaptures
!maps
!scenes
!uiElements
!weaponCaptures
!alternator
!devotion
!eva8
!flatline
!g7
!havoc
!hemlok
!kraber
!longbow
!mastiff
!mozambique
!p2020
!peacekeeper
!prowler
!r99
!r301
!re45
!spitfire
!tripleTake
!wingman
